extends layouts/main.pug

block content

    section.wrapper
        .wrapper__col1 col1
        .wrapper__col2
            .wrapper__col2__left col2__left1
            .wrapper__col2__main col2__main1
            .wrapper__col2__right col2__right1

        .wrapper__col3
            .wrapper__col3__left col3__left2
            .wrapper__col3__main col3__main2
            .wrapper__col3__right col3__left2