extends layouts/main.pug

block content

    section.wrapper
        div.wrapper__col1 col1
        div.wrapper__col2
            div.wrapper__col2__left left1
            div.wrapper__col2__main main1
            div.wrapper__col2__right right1

        div.wrapper__col3
            div.wrapper__col3__left left2
            div.wrapper__col3__main main2
            div.wrapper__col3__right right2